/* Add CSS Styling */

.oddnumbers {
    background-color: rgb(255,182,193);
    font-family: verdana, dejaVu sans, sans-serif;
}

#firstid {
    color: rgb(0,0,255);
    font-size: 36px;
}

#secondid {
    font-size: 24px;
}